<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.frontier.copilot-otel-github-enterprise</string>
  <key>ProgramArguments</key>
  <array>
    <string>$HOME/frontier-cockpit/local-otel/ingest-github-enterprise.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>17</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>$HOME/frontier-cockpit/local-otel/launchagent-github-enterprise.log</string>
  <key>StandardErrorPath</key>
  <string>$HOME/frontier-cockpit/local-otel/launchagent-github-enterprise.err</string>
</dict>
</plist>
